In [ ]:
import pandas as pd
dataf=pd.read_csv("/content/dataset-problem-33-1-KNN-Play OR Not.csv")
dataf.head()

    outlook temperature humidity  windy play
0  overcast         hot     high  False  yes
1  overcast        cool   normal   True  yes
2  overcast        mild     high   True  yes
3  overcast         hot   normal  False  yes
4     rainy        mild     high  False  yes

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in dataf.columns:
  dataf[col]=le.fit_transform(dataf[col])
dataf.head()

   outlook  temperature  humidity  windy  play
0        0            1         0      0     1
1        0            0         1      1     1
2        0            2         0      1     1
3        0            1         1      0     1
4        1            2         0      0     1

In [ ]:
x=dataf.drop('play',axis=1)
y=dataf['play']
y

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     1
8     0
9     0
10    0
11    0
12    1
13    1
Name: play, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=156,test_size=0.2)

In [ ]:
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
my_model = KNeighborsClassifier(n_neighbors=1)
result = my_model.fit(x_train,y_train)

In [ ]:
predict1=result.predict(x_test)
predict1

array([1, 0, 1])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predict1)

0.6666666666666666

In [ ]:
from sklearn.metrics import confusion_matrix
mat=confusion_matrix(predict1,y_test)
mat

array([[1, 0],
       [1, 1]])

In [ ]:
confu=pd.DataFrame(mat,index=['Actual 0','Actual 1'],columns=['predict 0','predict 1'])
confu

          predict 0  predict 1
Actual 0          1          0
Actual 1          1          1

In [ ]:
predictex=result.predict([[1,2,2,1]])
predictex

array([1])